.texts {
    cursor: pointer;
    color: black;
    font-size: 1.25rem;
    text-align: center;

    a:hover {
        color: #915CF3;
    }

    a.active {
        color: #915CF3 !important;
    }
}

.active {
    color: #915CF3 !important;
    text-decoration: underline;
}

.swiper-button-next {
    margin-right: -30px !important;
}
.swiper-button-prev {
    margin-left: -30px !important;
}
